includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - website
    excludePaths:
        - website/artwork
        - website/img
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false